.osd-feed-options { width: 320px; margin-right: 30px; float: left; display: inline-block; }
.osd-ebay-example { width: calc(100% - 365px); background-color: #FFFFFF; min-height: 600px; padding: 15px; float: left; display: inline-block; box-sizing: border-box; border: 1px solid #ccd0d4; }
.alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
.alert-success { background-color: #DFF0D8; border-color: #D6E9C6; color: #3C763D; }
.alert-warning { background-color: #FCF8E3; border-color: #FAEBCC; color: #8A6D3B; }
label.error { display: block; color: #330000; margin-bottom: 0; }

table.auction-feed th { border-bottom: 1px solid #CCD0D4; }
#feedOptions .postbox .postbox-header h2 { padding: 0 11px; }

.add-button { margin-bottom: 7px; }

.alert { padding: 15px; margin-bottom: 20px; margin-top: 20px; width: calc(100% - 15px); border: 1px solid transparent; border-radius: 4px; text-align: center; box-sizing: border-box; }
.alert form { padding: 0; margin: 0; text-align: center; }
.alert-success { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }
.alert-info { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; }
.alert-warning { background-color: #fcf8e3; border-color: #faebcc; color: #8a6d3b; }
.alert-danger { background-color: #f2dede; border-color: #ebccd1; color: #a94442; }

.tooltip-box { position: relative; display: inline-block; color: #FFFFFF; background-color: #000000; border-radius: 100%; width: 15px; height: 15px; line-height: 15px; text-align: center; }
.tooltip-box .tooltip-text { visibility: hidden; width: 250px; background-color: black; color: #FFFFFF; text-align: center; padding: 6px; position: absolute; z-index: 1; }
.tooltip-box:hover .tooltip-text { visibility: visible; }